<div id="splash-logo">
    anglic
</div>

<div id="splash-motto">
    <b><i>Fast</i></b> language learning.
</div>

<ul id="splash-opts">
    <li><%= image_tag '19-gear.png' %></li>
    <li><%= image_tag '103-map.png' %></li>
    <li><%= image_tag '111-user.png' %></li>
</ul >

<ul id="splash-footer">
    <li>anglic team</li>
    <li> + </li>
    <li><%= link_to 'about us', {:controller => 'about', :action => 'index'} %></li>
    <!--<li> | </li>
    <li><%= link_to 'writing', '' %></li>-->
</ul>
